<!DOCTYPE html>
<html lang="en">
	<%- include('../../partials/head/head.ejs') -%>

	<body>
		<%- include('../../partials/header/index.ejs') -%>

		<main class="container">
			<div class="columns">
				<div class="column">
					<%- include('./local.ejs') -%>
				</div>
				<div class="column">
					<%- include('./passport.ejs') -%>
				</div>
			</div>
		</main>
	</body>
</html>
