<% let color = typeof theme != 'undefined' ? theme : 'black' %>

<section class="hero is-<%= color %> is-bold is-small">
    <div class="hero-body has-text-centered">
        <h1 class="title is-1"><%= title %></h1>
    </div>
</section>